/* app/globals.css */
@import "tailwindcss";

@theme {
  --color-brand: #ff6b00;
  --color-brand-muted: rgba(255, 107, 0, 0.1);
  --color-bg-dark: #050505;
  --color-panel: #111111;
  --color-border-white: rgba(255, 255, 255, 0.1);
}

:root {
  background-color: var(--color-bg-dark);
  color: white;
}